<section class="Todos">
    <div class="Todos__due">
        <p class="TodoDue__title"><b><%= section_title  %></b></p>
        <p class="TodoDue__remaining"><%= completed_count  %>/<%= total_count  %></p>
    </div>

     <% todos.each do |todo|%>
        <ul class="TodoList">
            <% if !todo.completed || display_completed %>
                <li class="TodoList__todos">
                    <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
                        <input
                          class="TodoList-checkbox"
                          name="completed"
                          type="checkbox" <%= todo.completed ? "checked" : "" %>
                          onclick="this.form.submit()"
                        />
                    <% end %>
                    <% if todo.completed %>
                      <p class="TodoList__todos-text" style="text-decoration: line-through;"><%= todo.todo_text  %></p>
                    <% else %>
                      <p class="TodoList__todos-text"><%= todo.todo_text  %></p>
                    <% end %>
                    <% if show_date %>
                        <p class="TodoList__todos-dueDate"><%=todo.due_date.to_s(:short)%></p>
                    <% end %>
                    <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
                        <input
                          class="TodoList__todos-remove"
                          type="image"
                          src="bin.png"
                        />
                    <% end %>
                </li>
            <% end %>
        </ul>
        
    <% end %>
</section>